---
layout: default
title: Blog
description: 공부한 것들을 정리한 블로그입니다. 
---
<div class="container">
  <div class="row">
    <div class="col col-8 push-2 col-t-12 push-t-0">
      <div class="page-head">
        <h1 class="page-title">{% if page.title %}{{ page.title }}{% else %}{{ site.data.settings.blog__settings.blog__title }}{% endif %}</h1>
        {% if page.description %}
          <p class="page-description">{{ page.description }}</p>
        {% else site.data.settings.blog__settings.blog__description %}
          <p class="page-description">{{ site.data.settings.blog__settings.blog__description }}</p>
        {% endif %}
        <p class="page-description"></p>
      </div>
    </div>
  </div>
</div>

<div class="container animate">
  <div class="row">
    {% if site.posts.size > 0 %}
      {% for post in paginator.posts offset:0 %}
        {% include article-content.html %}
      {% endfor %}
    {% endif %}
  </div>
</div>

{% include pagination.html %}

<!--검색 tipuesearch -->
<style> .centered { display: table; margin-left: auto; margin-right: auto; } </style>

<div class="centered">
  <form action="/search">
      <div class="tipue_search_left">
          <img src="/assets/tipuesearch/search.png" class="tipue_search_icon">
      </div>
      <div class="tipue_search_right">
          <input type="text" name="q" id="tipue_search_input" pattern=".{1,}" title="At least 1 characters" required></div>
      <div style="clear: both;"></div>
  </form>
</div>